---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import { Image } from 'astro:assets';

// Page section components
import Skills from '../components/Skills.astro';
import { formatDate } from '../utils/date';
// Content Fetching: List four most recent work projects
const posts = (await getCollection('posts')).filter((post) => post.data.featured).sort(
          (a, b) =>
            Math.floor(new Date(b.data.pubDatetime).getTime() / 1000) -
            Math.floor(new Date(a.data.pubDatetime).getTime() / 1000)
        );

const projects = [
  {
    title: 'We Drawing',
    description: 'AI 画图。每天一句中国古诗词，生成 AI 图片。',
    link: 'https://github.com/liruifengv/we-drawing'
  },
  {
    title: 'astro-cn.com',
    description: 'Astro 中文网站 Showcase。展示一些使用 Astro 构建的中文网站！',
    link: 'https://github.com/liruifengv/astro-cn.com'
  },
]
---

<BaseLayout>
	<div class="stack gap-15">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="liruifengv"
					tagline="Web 开发者，Astro 项目成员，开源爱好者。"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" />Developer</Pill>
						<!-- <Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill> -->
						<Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill>
					</div>
				</Hero>

        <Image src="https://bucket.liruifengv.com/avatar.jpg" alt="liruifengv's avatar" width={400} height={400} />
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<p class="text-2xl font-bold text-[#000]">精选文章</>
					<p>
            这里是我最近写的一些文章，感兴趣的话可以看看！             
          </p>
				</header>

				<div class="gallery">
          {
            posts.map((post) => (
              <li>
                <a href={`/posts/${post.slug}`}>
                  <h5 class="title">{post.data.title}</h5>
                  <div class="time">
                    {formatDate(post.data.pubDatetime)}
                  </div>
                </a>
              </li>
            ))
          }
				</div>

				<div class="cta">
					<CallToAction href="/posts/">
						查看全部
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

      <section class="section with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<p class="text-2xl font-bold text-[#000]">最近项目</p>
				</header>

        <section class="projects gallery">
          {projects.map(project => (
            <a
              class="box"
              href={project.link}
              target="_blank"
              rel="noopener noreferrer"
            >
              <h2>{project.title}</h2>
              <p>{project.description}</p>
            </a>
          ))}
        </section>

				<div class="cta">
					<CallToAction href="/projects/">
						查看全部
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

		</main>
    <ContactCTA />

	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

  /* selected post list */
  .list {
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .title:hover {
    color: var(--link-color);
  }
	.title {
		z-index: 1;
		margin: 0.5rem;
		color: var(--gray-200);
    @apply text-xl md:text-2xl;
	}
  .time {
    color: var(--gray-400);
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

  .projects {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    cursor: pointer;
  }

	.projects h2 {
		font-size: var(--text-lg);
	}

  .projects h2:hover {
    color: var(--link-color);
  }

	.projects p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}
    .projects {
      display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 3rem;
    }
		.projects h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
