---
import { slugifyStr } from "@utils/slugify";
import Datetime from "./Datetime";
import type { CollectionEntry } from "astro:content";

export interface Props {
  href?: string;
  frontmatter: CollectionEntry<"blog">["data"];
  secHeading?: boolean;
}
const { href, frontmatter } = Astro.props;
const { title, description, pubDatetime } = frontmatter;

const headerProps = {
  className: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="mb-6 list-none">
  <a
    href={href}
    class="inline-block font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <h2 {...headerProps} transition:name={slugifyStr(title)}>
      {title}
    </h2>
  </a>
  <Datetime datetime={pubDatetime} />
  <p class="text-base">{description}</p>
</li>
