---
import { SITE } from "@config";
import ArticleListAside from "@components/ArticleListAside.astro";
import LinkButton from "@components/LinkButton.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import slugify from "@utils/slugify";

interface Props {
  page: Page<CollectionEntry<"blog">>;
  title: string;
  description?: string;
}

const { page, title, description } = Astro.props;
---

<Layout title={`${title} - ${SITE.title}`} description={description}>
  <Header activeNav="posts" />
  <Main pageTitle={title} pageDesc={description}>
    <article class="flex flex-col gap-2 sm:flex-row">
      <div class="sm:w-[80%]">
        {
          page.data.map(item => (
            <Card
              href={`/posts/${slugify(item.data)}`}
              frontmatter={item.data}
            />
          ))
        }
        <div>
          {
            page.url.prev && (
              <>
                <LinkButton
                  href={page.url.prev}
                  className={`mr-4 select-none`}
                  ariaLabel="Previous"
                  disabled={!page.url.prev}
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class={`${page.url.prev}-svg`}
                  >
                    <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
                  </svg>
                  上一页
                </LinkButton>
              </>
            )
          }
          {
            page.url.next && (
              <>
                <LinkButton
                  href={page.url.next}
                  className={`ml-4 select-none float-right`}
                  ariaLabel="Next"
                >
                  下一页
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class={`${page.url.next}-svg`}
                  >
                    <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
                  </svg>
                </LinkButton>
              </>
            )
          }
        </div>
      </div>

      <ArticleListAside />
    </article>
  </Main>

  <Footer />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
