---
import { type CollectionEntry, getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro'
import Tag from '../components/Tag.astro';
import Comments from "@components/Comment";
import { formatDate } from "@utils/date.ts";

interface Props {
	post: CollectionEntry<'posts'>;
}

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { post } = Astro.props;

const { title, author, description, ogImage, canonicalURL, pubDatetime, tags } =
  post.data;

const { Content, remarkPluginFrontmatter } = await post.render();

const { readingTime, words } = remarkPluginFrontmatter;

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(ogImageUrl ?? `/posts/${post.slug}.png`, Astro.url.origin)
  .href;

---

<BaseLayout
  title={title + ' | ' + 'liruifengv'}
  author={author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonicalURL}
  >
	<div class="stack gap-20">
		<div class="stack gap-8">
			<header>
				<div class="wrapper stack gap-2">
					<div class="flex items-center flex-col gap-2">
            <div class="text-3xl font-bold mb-5">{title}</div>
  
            <div class="flex flex-col md:flex-row md:gap-2">
              <div class="text-base">发布于：{formatDate(pubDatetime)}</div>
              <div class="flex gap-2">
                <p class="text-base inline-block">字数：{words}</p>
                <p class="text-base inline-block">阅读时间：{readingTime}</p>
              </div>
            </div>
            <div class="tags">
              {tags.map((t) => <Tag name={t}/>)}
            </div>
					</di>
				</div>
			</header>
			<main class="wrapper">
        <article
          id="article"
          role="article"
          class="mx-auto max-w-3xl prose-base dark:prose-invert prose-img:rounded-xl prose-li:list-disc prose-code:bg-gray-800 prose-code:text-[#108ee9] prose-code:px-1 prose-blockquote:border-l-2 prose-a:underline prose-a:underline-offset-2 prose-blockquote:border-l-gray-500"
        >
          <Content />
          <Comments client:only="react" />
        </article>

			</main>
      <ContactCTA />

		</div>
	</div>
</BaseLayout>

<style is="inline">
	header {
		padding-bottom: 1.5rem;
		border-bottom: 1px solid var(--gray-800);
	}

	.details {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		justify-content: space-between;
		align-items: center;
	}

	.tags {
		display: flex;
    flex-wrap: wrap;
	}

	.description {
		font-size: var(--text-lg);
		max-width: 54ch;
	}

	@media (min-width: 50em) {

		.details {
			flex-direction: row;
			gap: 2.5rem;
		}
	}
</style>
